.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);

    app-table-service {
        height: 30vh;
        flex: 1;
    }

    app-terminal {
        flex: 1;
        height: 30vh;
        margin-top: auto;
    }
}