:host {
    height: 100%;
}

.container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-family: 'consolas', 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;

    &,
    input {
        color: white;
        background-color: black;
        border: 0;
    }

    #stdout {
        flex: 1;
    }

    #prompts {
        margin-top: auto;

        .prompt {

            input {
                font-size: larger;
                outline: none;
            }

            .message {
                float: left;
                font-weight: bold;
                margin-right: 10px;
            }

            fieldset {
                border: 0;
                padding: 0
            }

            fieldset[data-disabled=true] {
                color: grey;
            }

            input[type=radio] {
                opacity: 0%;
            }

            input[type=radio]:checked+label:before {
                content: ">";
            }

            input[type=number] {
                appearance: textfield;
                -moz-appearance: textfield;
                width: 200px;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }
}