:host {
    height: 100%;
}

.container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-family: 'consolas', 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;

    &,
    input {
        color: white;
        background-color: black;
    }

    #stdout {
        flex: 1;
    }

    #prompts {
        margin-top: auto;

        .prompt {
            display: flex;
            flex-direction: row;

            .message span {
                font-weight: bold;
                margin-right: 10px;
                border-bottom: 2px solid white;
            }

            form {
                flex: 1;
                width: 100%;

                input[type=text] {
                    width: calc(100% - 20px)
                }

                fieldset {
                    border: 0;
                    padding: 0
                }

                fieldset[data-disabled=true] {
                    color: grey;
                }

                input {
                    font-weight: bold;
                    outline: none;
                    border: 0;
                    // border-bottom: 1px dashed grey;
                }

                input[type=radio] {
                    opacity: 0%;
                }

                input[type=radio]:checked+label:before {
                    content: ">";
                }

                input[type=number] {
                    appearance: textfield;
                    -moz-appearance: textfield;
                    width: 200px;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
        }
    }
}