.container {
    height: 100%;
    overflow: auto;

    #service-center-related {
        display: flex;
        flex-direction: row;

        #seats {
            & [data-ready=false] {
                color: yellow;
            }

            & [data-empty=true] {
                color: red;
            }

            & [data-ready=true] {
                color: green;
            }
        }

    }
}