// :host {
//     display: flex;
//     flex-direction: column;
//     width: calc(100vw - 20px);
// }

section.middle {
    flex: 1;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    &,
    input {
        font-family: 'consolas', 'Courier New', Courier, monospace;
        font-size: 12pt;
        background-color: black;
        color: white;
        outline: none;
        border: 0;
    }

    #stdout {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    #prompts {
        margin-top: auto;

        .prompt {

            .message {
                float: left;
                font-weight: bold;
                margin-right: 10px;
            }

            fieldset {
                border: 0;
                padding: 0
            }

            fieldset[data-disabled=true] {
                color: grey;
            }

            input[type=radio] {
                opacity: 0%;
            }

            input[type=radio]:checked+label:before {
                content: ">";
            }

            input[type=number] {
                -moz-appearance: textfield;
                width: 200px;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }


}