:host {
    display: flex;
    flex-direction: column;
    min-height: 250px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;

    .messages {
        flex: 1;
        border: 1px solid black;
    }

    .users {
        width: 300px;
        border: 1px solid black;

        tbody {
            overflow: auto;
        }

        tfoot {
            height: 100%;
        }

        td,
        th {
            border: 1px solid black;
        }

        table,
        th,
        td {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

form {
    margin: 10px;
    justify-content: flex-end; // Add this line to bottom-align content

    input {
        width: calc(100% - 20px);
    }
}