<div class="container">
    <div class="messages">
        <div class="message" *ngFor="let message of messages(); let index=index">
            <ng-container *ngIf="!(index==0 && type()=='direct' && message.message==' ')">
                {{ message.time }} : {{ message.from }} : {{ message.message }}
            </ng-container>
        </div>
    </div>

    <table class="users">
        <thead>
            <th>Name</th>
            <th *ngIf="type()=='all'">Service</th>
            <th *ngIf="type()=='service'">Table</th>
            <th *ngIf="type()=='table'">Seat</th>
            <th *ngIf="type()=='table'">Status</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users()" [attr.data-ready]="user.ready" [attr.data-seat]="user.seat">
                <th>
                    <button type="button" class="name" [class.selected]="selectedUser()==user.name"
                        (click)="type()=='direct' && selectedUser.set(user.name)"
                        (dblclick)="selectedUser.set(user.name)">
                        {{user.name}}
                    </button>
                </th>
                <th *ngIf="type()=='all'"> {{user.service}} </th>
                <th *ngIf="type()=='service'"> {{user.table}} </th>
                <th *ngIf="type()=='table'"> {{user.seat}} </th>
                <th *ngIf="type()=='table'"> {{user.ready ? 'READY' : ''}} </th>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

<form #form="ngForm" (ngSubmit)="send.emit(message.value); message.value=''; ">
    <input #message placeholder="message" />
</form>